@media (max-height: 800px) {
	.card {
		margin-top: 15% !important;
	}
}
@media (max-height: 700px) {
	.card {
		margin-top: 25% !important;
	}
}

@media (max-width: 600px) {
	.custom-direction {
		flex-direction: column !important;
	}
}
